.imagehead {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 77px;
}
.circle {
  width: 82px;
  height: 73px;
  border-radius: 50%;
  border: 1px solid;
}
img {
  width: -webkit-fill-available;
  height: -webkit-fill-available;
  border-radius: 50%;
}

.uploadbutton {
  padding: 12px;
  background-color: forestgreen;
  border: none;
  color: aliceblue;
  cursor: pointer;
}
