.section1 {
  width: 100%;
  display: grid;
  row-gap: 13px;
  grid-template-columns: repeat(3, 1fr);
}
title {
  margin-bottom: 4px;
}
.symbol {
  color: red;
}
input[type="text" i],
input[type="number" i] {
  width: 90%;
  height: 23px;
}
input[type="date" i] {
  width: 90%;
  height: 25px;
}
select {
  width: 90%;
  height: 28px;
}
.errorMsg::first-letter {
  text-transform: capitalize;
}
.errorMsg {
  color: red;
}
.address {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 10px;
  margin: 17px 0px;
  width: 100%;
}

textarea {
  width: 99%;
  resize: none;
  height: 100px;
}

.title {
  margin-bottom: 4px;
}
.errorMsg {
  margin-top: 4px;
}
.pincode {
  margin: 10px 0px;
}
.submit,
.cancel {
  border: none;
  background-color: forestgreen;
  padding: 10px;
  cursor: pointer;
  color: white;
}
input.pincodetext {
  width: 385px;
}
input.pincode {
  width: 395px;
}
form {
  padding: 20px;
}
.submitButton {
  display: flex;
  flex-direction: row-reverse;
}
input.cancel {
  margin-left: 10px;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
