table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}
td {
  text-align: center;
}
table {
  width: 100%;
  margin-top: 10px;
}
th {
  background-color: chartreuse;
  padding: 5px;
}
button {
  float: right;
  padding: 13px;
  width: 195px;
  text-align: center;
  color: white;
  margin: 10px;
  font-size: 18px;
  background-color: dodgerblue;
  border: none;
  cursor: pointer;
}
.editmethod,
.deletemethod {
  color: blue;
  cursor: pointer;
  text-decoration: underline;
}
